body {
  color: #222;
  background-color: #5454FF;
  font-family: sans-serif;
}

#players-container {
  position: absolute;
  background-color: #DDF;
  top: 0px;
  left: 0px;
  width: 80%;
  height: 65%;
  padding: 10px;
  overflow: auto;
}

#hand-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30%;
  background-color: #DDF;
  overflow: auto;
}

#right-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  height: 65%;
  padding: 10px;
  background-color: #DDF;
  box-shadow: -5px -2px 13px rgba(0,0,0, 0.7);
  overflow: auto;
}

#join-div {
  border-radius: 10px;
  width: 600px;
  height: 360px;
  margin: 10px auto;
  padding: 20px;
}

#join-div h2 {
  text-align: center;
}

#join-form {
  background-color: #FFE47F;
  border-radius: 10px;
  width: 465px;
  padding: 20px;
  margin: 0px auto;
}

#join-form label {
  display: block;
}

#join-form input {
  width: 450px;
  padding: 4px;
  margin-bottom: 20px;
}

.small-card {
  color: #ddd;
  background-color: #222;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 83px;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 3px;
}

.small-card:hover {
  position: relative;
  top: -5px;
  box-shadow: -5px 11px 13px rgba(0,0,0, 0.7);
}

.card {
  color: #ddd;
  width: 150px;
  height: 250px;
  border-radius: 10px;
  background-color: #222;
  padding: 5px;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 3px;
  float: left;
  cursor: pointer;
}

.card:hover {
  position: relative;
  box-shadow: -5px 11px 13px rgba(0,0,0, 0.7);
  -webkit-transform: perspective(999px) translateZ(50px);
  transform: perspective(999px) translateZ(50px);
  -webkit-transition: -webkit-transform .1s;
  transition: transform .1s;
}

.player-info {
  background-color: #EEF;
  width: 500px;
  border-bottom: 3px #222 solid;
  margin-bottom: 5px;
  padding: 10px;
}

.title {
  font-weight: bold;
  display: block;
}

.card-count {
  color: #ddd;
  width: 25px;
  height: 35px;
  border-radius: 5px;
  background-color: #222;
  padding: 3px;
  text-align: center;
  margin: 3px;
}

.draw-container {
  float: left;
}

.discard-container {
  float: right;
}

.sidebar-section {
  border-top: 1px solid #222;
  border-bottom: 1px solid black;
  margin: 5px;
  margin-bottom: 30px;
  padding: 5px;
}

#game-info {
  text-align: center;
}

#game-controls {
}

.small-card-img {
  width: 43px;
  height: 33px;
  border-radius: 3px;
  margin: 10px auto;
  background-color: #3F403E;
  background-image: url(../images/still.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 73% auto;
}


.card-img {
  width: 130px;
  height: 100px;
  border-radius: 10px;
  margin: 2px auto;
  background-color: #3F403E;
  background-repeat: no-repeat;
  background-position: center;
}

.card-still {
  background-image: url(../images/still.gif);
}

.thing-animate {
  background-image: url(../images/thing.gif);
}

.action-animate {
  background-image: url(../images/action.gif);
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
