<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dvorak</title>

  <!-- socket.io stuff -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- CDN JS, jQuery, underscore, backbone -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone.js"></script>

  <script src="js/vendor/backbone.iosync.js"></script>
  <script src="js/vendor/backbone.iobind.js"></script>
 
  <!-- Our stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body>

  <!-- DIV sections for views -->

  <div id="players-container" class="cf">

    <!-- initial div to enter info to join game -->
    <div id="join-div">
      <h2>Join Game</h2>
      <form id="join-form">
        <label for="player-name">Your Nick Name</label>
        <input id="player-name" type="text" maxlength=12 placeholder="name" autofocus/>
        <label for="table-name">Room Name</label>
        <input id="table-name" type="text" maxlength=12 placeholder="room"/>
        <input id="join-button" type="submit" name="mysubmit" value="Go!"/>
      </form>
    </div>
  </div>

  <div id="hand-container" class="cf">
  </div>

  <div id="right-sidebar" class="cf">
  </div>



</body>

<!-- Micro Templates -->

<script id="sidebar-template" type="text/template">

    <div id="table-container" class="sidebar-section">
    </div>

    Information:
    <div id="game-info" class="sidebar-section">
      To start or join a game enter your name and the name of the game room you wish to join
    </div>

    Controls:
    <div id="game-controls" class="sidebar-section">
      <button id="finish-turn-button" disabled=true>Finish Turn</button>
    </div>

    Play Queue:
    <div id="queue-container" class="sidebar-section cf">
    </div>

</script>

<script id="table-template" type="text/template">
  <div class="cf">
    <div>
      <span class="title">Table: <%- name %></span>
    </div>

    <div class="draw-container">
      Draw
      <div class="card-count"><%= draw_quantity %></div>
    </div>

    <div class="discard-container">
      Discard
      <div class="card-count"><%= discard_quantity %></div>
    </div>

  </div>
</script>

<script id="inplay-template" type="text/template">
  Cards in play:<br/>
</script>

<script id="small-card-template" type="text/template">
  <span class="title"><%= title %></title></span>
  <div class="small-card-img"></div>
</script>

<script id="card-template" type="text/template">
<span class="title"><%= title %></span>
  <div class="card-img card-still"></div>
  <%= description %>
</script>

<script id="hand-template" type="text/template">
  <span class="title">Your Hand:</span>
</script>

<script id="players-template" type="text/template">
  <h2>Players:</h2>
</script>

<script id="player-template" type="text/template">
  <b><%- name %> <% if(this.you) { %> (YOU) <% } %></b><br/>
  Hand: 
  <div class="card-count"><%= hand_quantity %></div>
</script>

<!-- Our game scripts -->
<script src="js/debug.js"></script>
<script src="js/app.js"></script>

<script src="js/card.js"></script>
<script src="js/cardpile.js"></script>
<script src="js/hand.js"></script>
<script src="js/player.js"></script>
<script src="js/inplay.js"></script>
<script src="js/sidebar.js"></script>

</html>
